<!-- {{prd|json}} -->
<div class="card m-2" style="width: 18rem;">
    <img [src]="prd?.imgURL" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ prd?.name}}</h5>
      <div class="card-text"><div>Price: {{prd?.price}}</div>
    <div>Quantity: {{prd?.quantity}}</div>
    </div>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button [disabled]="ReceivedPrdID==prdIDArray[0]" type="button" class="btn btn-success" (click)="previousPrd()">Previous</button>
        <button type="button" class="btn btn-warning" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-success" (click)="NextPrd()" [disabled]="ReceivedPrdID==prdIDArray[prdIDArray.length-1]" >Next</button>
      </div>

      <!-- <button type="button" class="btn btn-secondary" (click)="goBack()"> Back</button> -->
    </div>
  </div>