<!-- <h1 style="color:darkblue">Hello {{title}}</h1>
<h2>{{sayHello()}}</h2> -->
<!-- <app-header></app-header>
<div class="container-fluid ps-0">
  <section class="row">
    <app-side-bar class="col-2"></app-side-bar> -->
    <!-- <app-home class="col-10"></app-home> -->
    <!-- <app-product-list class="col-10"></app-product-list> -->
    <!-- <app-order-master class="col-10"></app-order-master> -->
    <!-- بمعني اصح انا كده شغلت الروتر اللي عملته في app router -->
    <!-- <div class="col-10">    
    </div>

    </section>
</div>
<app-footer></app-footer> -->
<app-header></app-header>
<router-outlet ></router-outlet>